.navbar-container {
  display: flex;
  font-size: 20px;
  position:fixed !important;
  width: 100vw;
  height: 80px;
  /* border: 2px solid black; */
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 9999;
}

.link-container {
  /* border: 2px solid yellow; */
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}

.link-container a {
  /* border: 2px solid red; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: wheat;
  cursor: pointer;
  text-decoration: none;
}

html, body {
  margin: 0;
  background: linear-gradient(90deg, black, #62636c);
}

.navbar-container img, .navbar-container a {
  margin-left: 20px;
  margin-right: 20px;
}

.home-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  border: 2px solid red;
}

.home-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  z-index: 1;
  /* border: 2px solid green; */
}

.home-text h1 {
  color: white;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: left;
  width: 80%;
  font-size: clamp(12px, 3vw, 30px);
  font-family:'Courier New', Courier, monospace;
  /* border: 2px solid pink; */
}

.home-text p {
  margin-top: 0px;
  /* border: 2px solid purple; */
  margin-left: auto;
  text-align: left;
  width: 80%;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: yellow;
}

.home-text a {
  margin-left: auto;
  margin-top: 10px;
  border: 2px solid yellow;
  font-weight: bold;
  border-radius: 15px;
}

.home-pizza-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.outer1, .outer2, .outer3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.box1 {
  width: 300px;
  height: 100px;
  flex-direction: column;
  display: flex;
  margin: 30px;
}

.box1 p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* account page */

.account-container {
  /* border: 2px solid purple; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(49,52,55) 70%, white 30%);
}

.account-inner {
  display: flex;
  justify-content: center;
  /* border: 2px solid orange; */
  height: 75%;
  width: 85%;
  border-radius: 25px;
  overflow: hidden;
  max-height: 950px;
  min-height: 250px;
  box-shadow: -8px 3px 25px 1px;
}

.account-img {
  width: 50%;
  /* border: 2px solid orange; */
  justify-content: center;
  display: flex;
  align-items: center;
}

.account-img img {
  width: 100%;
  height: 100%;
}

.account-right {
  width: 50%;
  /* border: 2px solid purple; */
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.account-btn-container {
  /* border: 2px solid purple; */
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.account-btn-container button.active {
  background-color: black;
  border-radius: 15px;
  color: white;
}

.account-btn-container button {
  border: none;
  padding-right: 25px;
  padding-left: 25px;
  color: black;
  background-color: rgb(248, 237, 218);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.account-form-container {
  height: 80%;
  width: 70%;
  /* border: 2px solid violet; */
}

/* Login Form */

.login-form {
  /* border: 2px solid orange; */
  width: 100%;
  height: 100%;
}

.login-input-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 70%;
}

.login-form .input-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.login-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.login-btn-container button {
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: red;
  color: black;
  border: none;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Sign up */
.signup-form {
  /* border: 2px solid orange; */
  width: 100%;
  height: 100%;
}

.signup-input-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 70%;
}

.signup-form .input-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.signup-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.signup-btn-container button {
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: red;
  color: black;
  border: none;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
