.navbar-container {
  display: flex;
  font-size: 20px;
  position:fixed !important;
  width: 100vw;
  height: 80px;
  /* border: 2px solid black; */
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 9999;
}

.link-container {
  /* border: 2px solid yellow; */
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}

.link-container a {
  /* border: 2px solid red; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: wheat;
  cursor: pointer;
  text-decoration: none;
}

html, body {
  margin: 0;
  background: linear-gradient(90deg, black, #62636c);
}

.navbar-container img, .navbar-container a {
  margin-left: 20px;
  margin-right: 20px;
}

.home-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  border: 2px solid red;
}

.home-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  z-index: 1;
  /* border: 2px solid green; */
}

.home-text h1 {
  color: white;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: left;
  width: 80%;
  font-size: clamp(12px, 3vw, 30px);
  font-family:'Courier New', Courier, monospace;
  /* border: 2px solid pink; */
}

.home-text p {
  margin-top: 0px;
  /* border: 2px solid purple; */
  margin-left: auto;
  text-align: left;
  width: 80%;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: yellow;
}

.home-text a {
  margin-left: auto;
  margin-top: 10px;
}

.home-text a, .login-form button, .signup-form button {
  border: 2px solid yellow;
  font-weight: bold;
  border-radius: 15px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: yellow;
}

.home-pizza-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.outer1, .outer2, .outer3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.box1 {
  width: 300px;
  height: 100px;
  flex-direction: column;
  display: flex;
  margin: 30px;
}

.box1 p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* account page */

.account-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  background: linear-gradient(to right, rgb(49,52,55) 70%, white 30%);
}

.account-inner {
  display: flex;
  justify-content: center;
  height: 75%;
  width: 85%;
  border-radius: 25px;
  overflow: hidden;
  max-height: 950px;
  min-height: 400px;
  box-shadow: -8px 3px 25px 1px;
}

.account-left {
  width: 73.5%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.account-right {
  width: 26.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-right p {
  font-weight: bold;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.account-form-container {
  height: 100%;
  width: 100%;
}

/* Login Form */
/* Sign up */

.login-form, .signup-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.account-form-container h1 {
  color: yellow;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-input-container, .signup-input-container {
  width: 70%;
}

.account-form-container .input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.account-form-container label {
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.account-form-container input {
  margin-bottom: 10px;
}

.login-bottom-container, .signup-bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.account-form-container button {
  width: 100%;
  margin-bottom: 10px;
}

.account-form-container p {
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}